<div class="row">
    
    <div class="col-md-12">
        <%= bootstrap_form_for(@secret) do |f| %>
            <%= f.text_field :title, value: @secret.title  %>
            <%= f.text_area :content, value: @secret.content  %>
            <%= f.submit "Update" %>
        <% end %>   
    </div>
   
</div>
