<div class="row">
    
    <div class="col-md-12">
        <%= bootstrap_form_for(@secrets) do |f| %>
            <%= f.text_field :title %>
            <%= f.text_area :content %>
            <%= f.submit "create", {:class => 'btn btn-primary'} %>
        <% end %>   
    </div>
   
</div>
